
.header {
	background-color: cornflowerblue;

	margin: 30px 30px;
	height: 50px;
}
.header p {
	font-weight: bold;
	color: floralwhite;
	font-size: 1.5em;
	padding: 10px;
}

.content {
	background-color: gainsboro;
	margin: 30px 30px;
}

.content table {
	border-collapse: collapse;
	border: 1px solid rgb(200,200,200);
	width: 100%;
}

.checkbox {
	width: 25px;
}

.content td, th {
	border: 1px solid black;
	padding: 4px;
}

.editdata {
	background-color: whitesmoke;
}

[data-id="-1"] {
	background-color: gainsboro;
}


